<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ExeCRUD.Properties.Settings.daftarmenuConnectionString"
            connectionString="Data Source=NOP\MSSQLSERVER01;Initial Catalog=daftarmenu;User ID=sa;Password=kontoru555"
            providerName="System.Data.SqlClient" />
        <add name="ExeCRUD.Properties.Settings.daftarmenuuConnectionString"
            connectionString="Data Source=NOP\MSSQLSERVER01;Initial Catalog=daftarmenuu;User ID=sa;Password=kontoru555"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>